.topHalf {
  text-align: left;
  width: 100vw;
  height: 38vh;
  display: flex;
  border-bottom: 2px solid black;
}

.whatTheUserFillsIn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 7%;
}

.profilePic {
  height: 100%;
  border: 1px solid black;
}

.TheDropper {
  margin-left: 40px;
  margin-top: 30px;
  display: flex;
  background: white;
  justify-content: flex-end;
  align-items: flex-end;
}

.userName {
  display: flex;
  height: 10%;
}

.biography {
  height: 10%;
}

.location {
  height: 10%;
}

.makeProfile {
  border: 1px solid black;
  width: 40%;
  display: flex;
  justify-content: center;
}


.allJournalEntries {
  width: 80vw;
  /* min-height: 50vh; */
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 0;
}

.individualRoute {
  min-height: 25vh;
  max-width: 80vw;
  border: 2px solid black;
  margin-bottom: 1vh;
}

.route_name_and_checkmark {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: space-between;
  background: black;
}

#profileRouteName {
  margin-left: 1.5vw;
  color: white;
  font-weight: bold;
}

#checkmark {
  margin-left: 5px;
  color: greenyellow;
}

#no_checkmark {
  display: none;
}

#profileRouteTimeStamp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.description_and_route_pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#profileRouteDescription {
  width: 60%;
  word-wrap: break-word;
  min-height: 100px;
  background: #dededec0;
  white-space: wrap;
  text-indent: 20px;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#smallPic {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

#no_smallPic {
  display: none;
}

#noTextInDropzone {
  display: none;
}

.uploadImg {
  margin-top: 2vh;
  border-radius: 50%;
}

@media only screen and (max-width: 375px) {
.allJournalEntries {
  margin-left: 1vw;
  margin-right: 0vw;
    width: 95vw;  
}

.individualRoute {
  border-bottom: 1px solid black;
  min-height: 8vh;
  max-width: 100vw;
}

.route_name_and_checkmark {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-between;
    background: black;
}

#profileRouteTimeStamp {
  font-size: .75em;
  color: rgba(255, 255, 255, 0.61);
}

#profileRouteDescription {
  text-align: left;
  margin-top: 6px;
  margin-right: 0;
  width: 94%;
  padding-top: 10px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 6px;
}

.description_and_route_pic {
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

  #smallPic {
    max-height: 300px;
    margin-bottom: 8px;
  }
}
