@font-face {
  font-family: 'stein';
  src: url('../../SteinAntik.ttf') format('truetype');
}

.top_part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25vw;
  margin-top: 2vh;
  border: 1px solid black;
  background: rgba(219, 215, 210, 0.616);
}

.find_with_mag {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#lineOne {
  text-align: center;
  font-family: OCR A Std, monospace;
  font-weight: bold;
  
}

#lineTwo {
  margin-left: 2vw;
  font-family: OCR A Std, monospace;
  font-weight: bold;
}

.all_routes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#magGlass {
  height: 4vh;
  padding-right: 1vw;
  margin-bottom: 15px;
}

#find_route {
  width: 20%;
  height: 5vh;
  border: 1px solid black;
  font-size: 1em;
  margin-bottom: 15px;
}


#routeNameInSearch {
  font-weight: bold;
}

a {
  width: 100%;
}

.routesNotSelected {
  background: #dedede;
  margin-right: 0.15vw;
  border: 1px solid rgb(9, 73, 9);
  max-height: 50vh;
  display: flex;
  width: 41%;
  margin: 2vh;
}

.routesSelected {
  background: #dedede;
  border: 1px solid rgb(9, 73, 9);
  display: flex;
  position: relative;
  max-height: 60vh;
  width: 44%;
  margin-top: 2vh;
}

#routeImg {
  height: 100%;
  width: 66%;
}

#routeImgSelected {
  height: 100%;
  width: 100%;
  z-index: 0;
}

#routeImgSelected:hover {
  opacity: 1;
  background: green;
  border: 1px solid green;
}

.text {
  margin-left: 0.2vw;
  font-size: 1.1em;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background: rgba(219, 215, 210, 0.918);
}

.textSelected {
  font-size: 12px;
  position: absolute;
  right: 0vw;
  max-width: 25%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
  background: #dedede;
  z-index: 1;
}

#sport,
#grade,
#crag,
#trad,
#rating {
 display: flex;
 margin: auto;
 text-align: center;
}

#rating {
  margin-bottom: 50px;
}

#routeNameInSearch {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background: rgb(219, 198, 198);
  color: black;
}

#routeNameInSearch:hover {
  transition: all 0.1s ease-in;
  transform: scale(1.0, 1.6);
  color: rgb(219, 198, 198);
  background: black;
}

a {
  text-decoration: none;
}

#sport {
  color: blue;
}

#trad {
  color: red;
}

.Add,
.dontAdd {
  height: 10%;
  display: flex;
}

.addButt0n {
  position: absolute;
}

.addButt0n:hover {
  border: 3px solid rgb(51, 165, 57);
  cursor: crosshair;
}

@media only screen and (max-width: 500px) {
  .top_part {
    width: 90%;
    margin-left: 17px;
  }
  .routeDisplay {
    background: #dedede;
    border: 2px solid rgb(9, 73, 9);
    max-height: 29vh;
  }

  .routesNotSelected {
    border: 1px solid rgb(9, 73, 9);
    display: flex;
    width: 96%;
    max-height: 50%;
    margin: 2vh;
  }

  .routesSelected {
    width: 96%;
    max-height: 50%;
    margin: 2vh;
  }
  .text {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4vw;
    color: black;
    font-weight: bold;
    color: white;
    border: 1px solid black;

  }

  .textSelected {
    font-size: 1em;
    position: absolute;
    right: 0vw;
    max-width: 55%;
    background: #dedede;
    z-index: 1;
  }
  #routeImg {
    width: 100%;
    height: 100%;
    z-index: -0.5;
    max-height: 40vh;
  }
  #find_route {
    border: 1px solid black;
    font-size: 1em;
    width: 70%;
  }

 #grade, #crag, #rating {
   color: black;
 }

  #grade,
  #routeNameInSearch,
  #crag,
  #rating,
  #sport,
  #trad {
    margin-left: 0vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    text-align: left;
    z-index: 1;
    width: 100%;
    
  }
}
