@font-face {
  font-family: 'lumos';
  src: url('../../MyHandwritingSucks.ttf') format('truetype');
}

@font-face {
  font-family: 'harryp';
  src: url('../../HARRYP__.TTF') format('truetype');
}

@font-face {
  font-family: 'cartoon';
  src: url('../../Sketch\ 3D.woff') format('woff');
}

@font-face {
    font-family: 'F25';
    src: url('../../F25_Bank_Printer.ttf') format('truetype');
  }


.display_route {
  margin-top: 5vh;
  margin-bottom: 2vh;
  background: rgba(26, 25, 25, 0.753);
  display: flex;
  border: 2px solid white;
  width: 29.5%;
  flex-wrap: wrap;
  flex-direction: space-between;
  position: relative;
}

.dont_display_route {
  display: none;
}

#deleteButton {
  background: rgba(26, 25, 25, 0.753);
  height: 6%;
  color: white;
  font-weight: bold;
  border: 1px solid rgba(26, 25, 25, 0.753);
  font-family: 'harryp';
  font-size: 1.5em;
  margin-left: 0.75vw;
  padding: 0;
  margin-top: 0.75vh;
}

#deleteButton:hover {
  color: red;
}

.routeName {
  width: 65%;
  height: 5%;
  display: flex;
  margin-left: 0.7vw;
  font-size: 1.5em;
  font-family: 'cartoon';
  color: white;
}

.star-ratings {
  padding-top: 3.5vh;
  width: 21.5%;
  margin-top: 0vh;
  margin-left: 1vw;
}

.journalImg,
.could_drop {
  margin-top: 0vh;
}

.journalImg {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 44.5%;
  margin-right: 0.2vw;
}

#user_route_pic, #no_user_route_pic {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'F25';
  font-size: .9em;
}

#no_user_route_pic {
    margin-top: 33%;
    text-align: center;
    padding: 1.5vw;
}

#logInput {
  width: 100%;
  background-image: url('https://wallpapertag.com/wallpaper/full/2/6/9/135073-large-papyrus-background-1920x1080.jpg');
  height: 39%;
  font-family: 'lumos';
  font-size: 2em;
}

#logButton {
  position: absolute;
  right: 1vw;
  bottom: 1vh;
  display: flex;
  height: 10%;
  width: 66px;
  text-align: center;
  background-image: url('https://img.pokemondb.net/artwork/vector/geodude-alolan.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: absolute;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  z-index: 1;
}

#logButton:hover, #logButton:active, #deleteButton:hover {
    transition: all .1s ease-in;
    transform: scale(1.25);
}

#logButton:active {
    border: 1px solid red;
}

.bottom_nav {
  width: 100%;
}
