.III {
    border: 1px solid black;
}


.routeReviews {
    align-items: center;
    border-bottom: .5px solid green;
    height: 20vh;
    position: relative;
}

.nameAndGrade {
    display: flex;

}

#routeReviewName {
    margin-right: 1vw;
}

#routeReviewTimeStamp {
    position: absolute;
    right: 2vw;
    top: 0;
    margin-top: 0;
}

.userReview {
    display: flex;
    justify-content: center;
}

#routeReviewDescription {
    
}

#author {
    align-content: flex-start;
}

#routeReviewType {
    position: absolute;
    left: 2vw;
    top: 5vh;
}

.topPortion {
    height: 25vh;
    border-bottom: 1px solid black;
}

.stars {
    position: absolute;
    right: 0;
}

