.homeImg {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 87.5vh;
}

.currentWeatherMiddle {
    height: 24vh;
    width: 15vw;
    position: absolute;
    right: 17.6vw;
    top: 16.5vh;
}


#login, #logout {
   position: absolute;
   text-decoration: none;
   color: white;
   top: 17vh;
   
}

#login {
   right: 35.5vw; 
   top: 35.5vh;
   background: black;
   font-weight: bold;
}

#logout {
    top: 62.5vh;
    right: 39.5vw;
    background: black;
    font-weight: bold;
}



