.homeImg {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 87.5vh;
}

.currentWeatherMiddle {
    height: 24vh;
    width: 15vw;
    position: absolute;
    left: 39.8vw;
    top: 16.5vh;
}


.michaela {
    width: 90%;
    height: 90%;
}

#login, #logout {
   position: absolute;
   text-decoration: none;
   color: white;
   top: 17vh;
   
}

#login {
   right: 11vw; 
}

#logout {
    right: 6vw;
}



