.homeImg {
   display: flex;
   margin-right: 0vw;
   justify-content: center;
}

.currentWeatherMiddle {
    height: 10vh;
    width: 7.5vw;
    position: absolute;
    right: 27vw;
    top: 35vh;
    border-radius: 50%;
    animation: animate 20px linear infinite;
}


#login, #logout {
   position: absolute;
   text-decoration: none;
   color: white;
   top: 17vh;
   
}

#login {
   right: 15vw; 
   top: 45vh;
   background: black;
   font-weight: bold;
}

#logout {
    top: 50vh;
    right: 14.2vw;
    background: black;
    font-weight: bold;
}



