.header {
    background: rgba(0, 0, 0, 0.753);
    height: 12vh;
    width: 100vw;
    display: flex; 
    z-index: -1; 
}

.rightSideOfHeader {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-right: 17vw;
    align-items: center;
    
}

.homebutton, .searchbutton, .profilebutton, .journalbutton {
    font-weight: bold;
    color: rgb(65, 34, 34);
    text-shadow: -1px 0 rgb(248, 130, 67), 0 1px rgb(248, 130, 67), 1px 0 rgb(248, 130, 67), 0 -1px rgb(248, 130, 67);
    font-family: 'Montserrat', sans-serif;  
}


#head {
    color: rgb(65, 34, 34);
    text-shadow: -1px 0 rgb(248, 130, 67), 0 1px rgb(248, 130, 67), 1px 0 rgb(248, 130, 67), 0 -1px rgb(248, 130, 67);
    width: 65%;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    align-content: center;
    font: 300 50px/1.0 'Just Another Hand', Helvetica, sans-serif;
}


@media only screen and (max-width: 400px) {
    #head {
        color: rgb(65, 34, 34);
        text-shadow: -1px 0 rgb(248, 130, 67), 0 1px rgb(248, 130, 67), 1px 0 rgb(248, 130, 67), 0 -1px rgb(248, 130, 67);
        width: 65%;
        font-size: 14px;
        display: flex;
        align-items: center;
        align-content: center;
        font-family: 'KoHo', sans-serif;
    }
}


