
.everything {
    position: relative;
    display: inline-block;
    margin-right: 2vw;
    margin-left: 3vw;
    width: 40vw;
    
}

.journalImg {
    height: 24vh;
    width: 18vw;
    position: relative;
    margin-left: 3vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.routeName {
    position: absolute;
    top: 0;
    left: 8.9vw;
    color: rgb(46, 46, 95);;
    border: 1px solid;
    font-size: 10px;
    background: rgb(237, 237, 252);
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.9vw;
}

#logInput {
    height: 24vh;
    width: 18vw;
    margin-bottom: 3vh;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgb(220, 220, 231);
}

#logButton {
    position: absolute;
    right: 0;
    bottom: 3vh;
    height: 3vh;
    width: 4.9vw;
    background: green;
    color: white;
    border: 1px solid black
}

#sendButton {
    position: absolute;
    top: 1.5vh;
    width: 18.5vw;
    margin-left: .5vw;
    background: rgb(186, 241, 200);
    height: 3.5vh;
    border: 1px solid black;
    
}

#deleteButton {
    position: absolute;
    left: 3vw;
    top: 1.5vh;
    width: 5.8vw;
    height: 3.5vh;
    background: black;
    color: white;
    font-weight: bold;
}

.stars {
    position: absolute;
    left: 0;
    bottom: 10vh;
    margin-left: 10vw;
}